
<% provide(:title, "Seat") %>
<div class="container seat">
  <div class="div-sup-seat" style=" height:100%; width:100%; position:absolute;">


    <div class="seat-region" style="text-align:center; margin-top: 4%; margin-bottom: 2%; position:relative">
      <ul>
        <li><div id="sevensegdisplays_div"> <%= inline_svg("7segdisplays.svg")%></div></li>
        <li><div id="div_buttons">
          <input type="number" value="0" style="display: none" id="inpt">
          <ul id = "ul_buttons">
            <li id = "button1" style="margin-left: 4%; margin-right: 2%;"> <%= inline_svg("desenhando.svg")%> </li>
            <li id = "button2" style="margin-left: 2%; margin-right: 2%;"> <%= inline_svg("desenhando.svg") %> </li>
            <li id = "button3" style="margin-left: 2%; margin-right: 2%;"> <%= inline_svg("desenhando.svg") %> </li>
            <li id = "button4" style="margin-left: 2%; margin-right: 4%;"> <%= inline_svg("desenhando.svg") %> </li>
          </ul>
        </div></li>
        <li><%= image_tag("leds.png", class: "img-responsive leds") %></li>
        <li><%= image_tag("vga.png", class: "img-responsive vga") %></li>
        <li><%= image_tag("some_pins.png", class: "img-responsive some_pins") %></li>
        <li><%= image_tag("usb.png", class: "img-responsive usb1") %></li>
        <li><%= image_tag("usb.png", class: "img-responsive usb2") %></li>
        <li><%= image_tag("power.png", class: "img-responsive power") %></li>
        <li><%= image_tag("batery.png", class: "img-responsive batery") %></li>
        <li><%= image_tag("fpga.png", class: "img-responsive fpga") %></li>
        <li><%= image_tag("rom.png", class: "img-responsive rom") %></li>
        <li><%= image_tag("display.png", class: "img-responsive display") %></li>
        <li><div id="div_switch">
            <% (1..@seat.fpga.switchs).each do |i|%>
            <%= image_tag("path137.png", class: "img-responsive path137", id: "path137#{i}", style: "width : -webkit-calc(#{@seat.fpga.switchs/8.0*100}%/(#{@seat.fpga.switchs+1}));") %>
            <%end%>
        </div> </li>
        <li><%= image_tag("ci.png", class: "img-responsive ci1") %></li>
        <li><%= image_tag("ci.png", class: "img-responsive ci2") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp1") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp2") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp3") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp4") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp5") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp6") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp7") %></li>
        <li><%= image_tag("inp.png", class: "img-responsive inp8") %></li>
        <%= link_to "Add as friend", free_path(@seat), remote: true, style: "display: none", id: "free_seat"%>
      </ul>
    </div>
  </div>
</div>
