

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@user.errors.count, "erro(s)") %> encontrado(s):</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<body>
  <div class="login">
    <div class="container">
      <div class="form">
  <div class="field">
    <font><%= f.label :nome %><br></font>
    <%= f.text_field :name, :size=>"50", placeholder: "Digite seu nome", :maxlength=>"50"   %>
  </div>
  <div class="field">
    <font><%= f.label :email %><br></font>

    <%= f.text_field :email, :size=>"11", placeholder: "Digite seu email", :maxlength=>"9"  %>

  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn-submit"%>
  </div>
  </div>
  </div>
  </div>

  </body>
<%end%>
