<header>

  <nav><!-- nav begin -->

    <div class="nav-wrapper"><!-- nav-wrapper begin -->
      <a href="#" data-activates="slide-out" id="menu" class="hide-on-med-and-down"><i class="material-icons menu">menu</i></a>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-medium-and-down"><i class="material-icons menu">menu</i></a>

      <a href="https://www.unb.br" class="center brand-logo"><%= image_tag("logo_unb.png", class: "img-responsive careerpage", style: "margin:5px 0px", id: "logo_unb") %><%= image_tag("logo_mobile_unb.png", class: "img-responsive careerpage", style: "margin:1px 0px", id: "logo_mobile_unb") %></a><!-- Nav mobile wrapped Logo -->

      <ul id="mymine" class="right">
        <% if user_signed_in? %>

          <li style="height: auto">
            <%= link_to("<i class=\"material-icons\" style=\"width:30px; height:30px;\">input</i>".html_safe, destroy_user_session_path, method: :delete, style: "height:60px;")%>
          </li>
        <% else %>

          <li>
            <%= link_to("<i class=\"material-icons\" style=\"width:30px; height:30px;\">exit_to_app</i>".html_safe, new_user_session_path, style: "height:60px;")%>
          </li>
          <% end %>
      </ul>



      <%= render 'layouts/slide_out' %>

    </div><!-- nav wrapper end -->
  </nav><!-- nav end -->
</header>
